<h1 mat-dialog-title>Add Reservation</h1>
<div mat-dialog-content>
  <div class="container">
    <form [formGroup]="form" class="add-form" (ngSubmit)="onSubmit()">
      <div class="form-control hidden">
        <input type="text" id="id" formControlName="id" hidden />
      </div>

      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input
            matInput
            type="text"
            id="name"
            formControlName="name"
            placeholder="Add Name"
            required
            minlength="2"
            maxlength="30"
          />
          <mat-error *ngIf="form.get('name')!.invalid"
            >Name is required and must be between 2 and 30
            characters.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input
            matInput
            type="text"
            id="lastName"
            formControlName="lastName"
            placeholder="Add Last Name"
            required
            maxlength="20"
            minlength="2"
          />
          <mat-error class="error" *ngIf="form.get('lastName')!.invalid"
            >Last Name is required and must be between 2 and 20
            characters.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Flight Number</mat-label>
          <input
            matInput
            type="text"
            id="fligthNumber"
            formControlName="fligthNumber"
            placeholder="Add Flight Number"
            required
            pattern="^[a-zA-Z]{2} \d{4}$"
          />
          <mat-error *ngIf="form.get('fligthNumber')!.invalid"
            >Flight Number is required and must be in the format e.g., HD
            0000.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Departure Date</mat-label>
          <input
            matInput
            [matDatetimepicker]="departurePicker"
            id="departureDate"
            formControlName="departureDate"
            placeholder="Add Departure Date"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="departurePicker"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            #departurePicker
            type="datetime"
          ></mat-datetimepicker>
          <mat-error *ngIf="form.get('departureDate')!.invalid"
            >Departure Date is required.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Landing Date</mat-label>
          <input
            matInput
            [matDatetimepicker]="landingPicker"
            id="landingDate"
            formControlName="landingDate"
            placeholder="Add Landing Date"
            required
          />
          <mat-datetimepicker-toggle
            matSuffix
            [for]="landingPicker"
          ></mat-datetimepicker-toggle>
          <mat-datetimepicker
            #landingPicker
            type="datetime"
          ></mat-datetimepicker>
          <mat-error *ngIf="form.get('landingDate')!.invalid"
            >Landing Date is required.</mat-error
          >
        </mat-form-field>
      </div>

      <div class="form-control">
        <mat-form-field appearance="fill">
          <mat-label>Ticket Class</mat-label>
          <mat-select id="ticketClass" formControlName="ticketClass" required>
            <mat-option [value]="-1">Select Ticket Class</mat-option>
            <mat-option [value]="0">Economy</mat-option>
            <mat-option [value]="1">Premium Economy</mat-option>
            <mat-option [value]="2">Business</mat-option>
            <mat-option [value]="3">First Class</mat-option>
          </mat-select>
          <mat-error *ngIf="form.get('ticketClass')!.invalid"
            >Ticket Class is required.</mat-error
          >
        </mat-form-field>
      </div>

      <button
        mat-raised-button
        class="button"
        color="primary"
        type="submit"
        [disabled]="form.invalid"
      >
        Save Reservation
      </button>
    </form>
  </div>
</div>
